.list {
  display: flex;
  flex-direction: column;
}

.link {
  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.2rem;
  box-shadow: 1px 1px 10px 1px rgb(236, 236, 236);
}

.activeLink {
  border: 2px solid rgb(147, 147, 240);
  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.2rem;
  box-shadow: 1px 1px 10px 1px rgb(236, 236, 236);
}
